body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.item {
    width: 100px;
    height: 50px;
    margin: 10px;
    position: relative;
}

.sortButton {
    border: 1px solid white;
    background: white;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    color: blue;
    transition: background 0.5s ease;
}

.sortButton:hover {
    background: blue;
    color: white;
    font-weight: normal;
}

.sortButton:hover i {
    color: white;
}

i {
    color: blue;
    margin-left: 20px;
}

.arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
}


@keyframes slide1 {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

.arrow-icon {
    height: 15px;
    width: 15px;
    /*display: inline-block;*/
    padding: 1px;
    margin-left: 8px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.left-bar {
    position: absolute;
    background-color: transparent;
    top: 7px;
    left: 0;
    width: 13px;
    height: 3px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}
.left-bar:after {
    content: "";
    background-color: white;
    width: 13px;
    height: 3px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(.25,1.7,.35,.8);
    z-index: -1;
}

.right-bar {
    position: absolute;
    background-color: transparent;
    top: 7px;
    left: 9px;
    width: 13px;
    height: 3px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.right-bar:after {
    content: "";
    background-color: white;
    width: 13px;
    height: 3px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(.25,1.7,.35,.8);
    z-index: -1;
}



.open .left-bar:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}

.open .right-bar:after {
    transform-origin: center center;
    transform: rotate(70deg);
}



